<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .no-underline {
            text-decoration: none !important;
            color: #000 !important;
        }
        .no-underline:hover {
            color: #000 !important;
        }

    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Task Details</h1>
    <p>User Role: <span th:text="${session.userRole}"></span></p>

    <div th:replace="fragments/message :: div"></div>
    <div>
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 th:text="${task.taskName}"></h5>
                <div>
                    <a class="btn btn-primary" th:href="@{/task/{taskId}/edit(taskId=${task.taskId})}">
                        Edit
                    </a>
                    <form th:action="@{/task/{taskId}/delete(taskId=${task.taskId})}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a class="btn btn-success" th:href="@{/task/{taskId}/add-issue(taskId=${task.taskId})}">
                        Add Issue
                    </a>
                </div>
            </div>
            <div class="card-body">
                <p th:text="${task.taskDescription}"></p>
                <h6>Task Issues:</h6>
                <ul class="list-group">
                    <li th:each="issue : ${issues}" class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <p>Type: <span th:text="${issue.issueType}"></span></p>
                            <p>Priority: <span th:text="${issue.priority}"></span></p>
                        </div>
                        <p>Summary: <span th:text="${issue.summary}"></span></p>
                        <p>Reporter: <span th:text="${issue.reporter.username}"></span> </p>
                    </li>
                </ul>


            </div>
        </div>
        <a class="btn btn-secondary float-right" th:href="@{/feature/{featureId}(featureId=${task.feature.id})}">
            Back
        </a>
    </div>
</div>
</body>



</html>
