<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feature Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script th:src="@{../static/js/DeleteConfirmation.js}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <style>
        .no-underline {
            text-decoration: none !important;
            color: #000 !important;
        }
        .no-underline:hover {
            color: #000 !important;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Feature Details</h1>

    <div th:replace="fragments/message :: div"></div>
    <div>
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 th:text="'Feature: ' + ${feature.name}"></h5>
                <div  th:if="${role == 'MANAGER'}">
                    <a class="btn btn-primary" th:href="@{/feature/{featureId}/edit(featureId=${feature.id})}">
                        Edit
                    </a>
                    <form th:action="@{/feature/{featureId}/delete(featureId=${feature.id})}" method="post" class="d-inline" onsubmit="return confirmDelete(event)">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a class="btn btn-success" th:href="@{/feature/{featureId}/add-task(featureId=${feature.id})}">
                        Add Task
                    </a>
                </div>
                <div th:if="${role == 'USER'}">
                        <a th:if="${upv.featureModification == true}" class="btn btn-primary" th:href="@{/feature/{featureId}/edit(featureId=${feature.id})}">
                            Edit
                        </a>
                        <form th:if="${upv.featureModification == true}" th:action="@{/feature/{featureId}/delete(featureId=${feature.id})}" method="post" class="d-inline" onsubmit="return confirmDelete(event)">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <a th:if="${upv.taskModification == true}" class="btn btn-success" th:href="@{/feature/{featureId}/add-task(featureId=${feature.id})}">
                            Add Task
                        </a>
                </div>
            </div>
            <div class="card-body">
                <p th:text="${feature.description}"></p>
                <h6>Feature Tasks:</h6>
                <ul class="list-group">
                    <li th:each="task : ${tasks}" class="list-group-item">
                        <a th:href="@{/task/{taskId}(taskId=${task.taskId})}" class="no-underline">
                            <div class="d-flex justify-content-between align-items-center">
                                <p>Status: <span th:text="${task.status}"></span></p>
                                <p>Task: <span th:text="${task.taskName}"></span></p>
                                </div>
                            <p>Description: <span th:text="${task.taskDescription}"></span></p>
                            <p>Assign: <span  th:text="${task.assignedTo != null ? task.assignedTo.username : 'Unassigned'}"></span></p>
                            <div th:replace="fragments/progressbar :: div(progress=${task.progress})"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a th:if="${role == 'MANAGER'}" class="btn btn-secondary float-right" th:href="@{/version/{projectVersionId}(projectVersionId=${feature.projectVersion.projectVersionId})}">
        Back
    </a>
    <a th:if="${role == 'USER'}" class="btn btn-secondary float-right" th:href="@{/version/user/{userId}(userId=${userId})}">
        Back
    </a>

</div>
</body>
</html>
