<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="container">
        <h2 class="mb-3">User List</h2>
        <div th:if="${message != null}">
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                <span th:text="${message}"></span>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Change Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}"  class="align-items-center">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <form method="POST" th:action="@{/user/update-role/{id}(id=${user.userId})}" class="mt-n1">
                        <div class="d-flex align-items-center">
                        <select class="form-control" name="newRole">
                            <option value="USER" th:text="USER" th:selected="${user.role == 'USER'}"></option>
                            <option value="MANAGER" th:text="MANAGER" th:selected="${user.role == 'MANAGER'}"></option>
                        </select>
                        <button class="btn btn-primary ml-3" type="submit" name="userId" th:value="${user.userId}">Save</button>
                        </div>
                    </form>

                </td>
                <td>
                    <form method="POST" th:action="@{/user/deactivate/{id}(id=${user.userId})}" onsubmit="return confirmDelete(event)">
                        <button class="btn btn-danger mt-n1" type="submit" name="userId" th:value="${user.userId}">Delete</button>
                    </form>


                </td>
            </tr>
            </tbody>
        </table>

        <button class="btn btn-primary" onclick="window.location.href='/user/add'" type="button">Add User</button>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    function confirmDelete(event) {
        event.preventDefault(); // Prevent form submission
        Swal.fire({
                title: 'Are you sure to delete?',
                // text: "This action cannot be undone!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                event.target.submit(); // Submit the form if confirmed
            }
        });
    }
</script>


</body>
</html>
