<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Attendees</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="mb-3">Edit Attendees</h2>
    <div th:replace="fragments/message :: div"></div>
    <table class="table">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Add Permission</th>
            <th>Edit Permission</th>
            <th>Delete Permission</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attendee : ${attendees}" class="attendee-row align-items-center">
            <td th:text="${attendee.user.id}"></td>
            <td>
                <input type="checkbox" th:checked="${attendee.add}"/>
            </td>
            <td>
                <input type="checkbox" th:checked="${attendee.edit}"/>
            </td>
            <td>
                <input type="checkbox" th:checked="${attendee.delete}"/>
            </td>
            <td>
                <div class="d-flex">
                    <button class="btn btn-primary edit-button" type="button">Edit</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.edit-button').click(function () {
            var row = $(this).closest('.attendee-row');
            var userProjectVersionId = row.data('user-project-version-id');
            var userId = row.data('user-id');

            // Gửi userProjectVersionId và userId đến @PostMapping
            $.ajax({
                url: '/attendee/' + userProjectVersionId + '/edit',
                method: 'POST',
                data: {
                    userId: userId
                },
                success: function (response) {
                    // Xử lý kết quả thành công nếu cần
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi nếu cần
                }
            });
        });
    });
</script>

</body>
</html>
