<div class="progress mb-2">
    <div class="progress-bar" role="progressbar" th:if="${progress != null}"
         th:style="'width: ' + ${progress} + '%; background-color: #28a745;'"
         th:attr="aria-valuenow=${progress}, aria-valuemin='0', aria-valuemax='100'">
        <span th:text="${progress + '%'}"></span>
    </div>
    <div class="progress-bar" role="progressbar" th:if="${progress == null}"
         th:style="'width: 0%; background-color: #28a745;'"
         th:attr="aria-valuenow='0', aria-valuemin='0', aria-valuemax='100'">
        <span style="color: #000;">0%</span>
    </div>
</div>
