<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Version Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .no-underline {
            text-decoration: none !important;
            color: #000 !important;
        }
        .no-underline:hover {
            color: #000 !important;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Project Version Details</h1>
    <p>User Role: <span th:text="${session.userRole}"></span></p>

    <div th:replace="fragments/message :: div"></div>
    <div>
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 th:text="${projectVersion.project.projectName}"></h5>
                <h5 th:text="${projectVersion.version}"></h5>
                <div>

                    <div class="btn-group" role="group">
                        <a class="btn btn-success rounded-right mr-1" th:href="@{/version/{projectVersionId}/add-feature(projectVersionId=${projectVersion.projectVersionId})}">
                            Add Feature
                        </a>
                        <a class="btn btn-primary rounded-left rounded-right mr-1" th:href="@{/version/{projectVersionId}/edit(projectVersionId=${projectVersion.projectVersionId})}">
                            Edit
                        </a>
                        <form th:action="@{'/version/' + ${projectVersionId} + '/disable'}" method="post">
                            <button type="submit" class="btn btn-danger">Disable</button>
                        </form>


                    </div>



                </div>
            </div>
            <div class="card-body">
                <p> Version Description: <span th:text="${projectVersion.versionDescription}"></span></p>
                <ul class="list-group">
                    <li th:each="feature : ${features}" class="list-group-item">
                        <a th:href="@{/feature/{id}(id=${feature.feature.id})}" class="no-underline">
                            <h5>Feature: <span th:text="${feature.feature.name}"></span></h5>

                                <div th:replace="fragments/progressbar :: div(progress=${feature.feature.progress})"></div>

                        </a>

<!--                        <p>Start date: <span th:text="${feature.feature.startDate}"></span></p>-->
<!--                        <p>End date: <span th:text="${feature.feature.endDate}"></span></p>-->
<!--                        <p>Estimated end date: <span th:text="${feature.feature.estimatedEndDate}"></span></p>-->
<!--                        <p>Status: <span th:text="${feature.feature.status}"></span></p>-->

                        <ul class="list-group">
                            <li th:each="task : ${feature.task}" class="list-group-item">
<!--                                <p>Task ID: <span th:text="${task.taskId}"></span></p>-->

                                <a th:href="@{/task/{id}(id=${task.taskId})}" class="no-underline">
                                <div class="d-flex justify-content-between">
                                    <p><span th:text="${task.taskName}"></span></p>
                                    <p><span th:text="'Progress: ' + ${task.progress}"></span></p>
                                </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
