<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Import Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5 border">
            <h1 class="text-center mb-4 mt-3">Login</h1>
            <form id="login-form">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control form-control-sm" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control form-control-sm" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
            </form>
        </div>
    </div>
</div>


<!-- Import jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1PiJP5we"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNVe1Nb"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    $(function () {
        $('#login-form').submit(function (event) {
            // Prevent the form from submitting normally
            event.preventDefault();

            // Get form data
            var formData = {
                username: $('#username').val(),
                password: $('#password').val()
            };

            // Send login request to API
            $.ajax({
                type: 'POST',
                url: '/login',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function (response) {
                    // Login successful
                    // Save token to local storage
                    localStorage.setItem('token', response);
                    // Redirect to home page
                    window.location.href = '/';
                },
                error: function (xhr, status, error) {
                    // Login failed
                    alert('Login failed: ' + error);
                }
            });
        });
    });
</script>
</body>
</html>
